.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-field {
  width: 100%;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: -8px;
}

.submit-button {
  width: 100%;
  margin-top: 16px;
}

.login-text {
    background-color: cornflowerblue;
    color: white;
    padding: 18px;
    border-radius: 15px;
    text-align: justify;
    font-size: medium;
    margin-bottom: 32px;
}
