<div class="login-container">
  <h2>Welcome</h2>
  <div class="login-text">
    <p>To access the application, please log in with the following credentials:</p>
    <p>username: master&#64;lemoncode.net</p>
    <p>password: 12345678</p>
  </div>
  <form (ngSubmit)="login()" class="login-form">
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Username</mat-label>
      <input
        matInput
        [(ngModel)]="username"
        name="username"
        (focus)="resetValidation()"
        placeholder="Enter your username"
        required
        #usernameRef="ngModel"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Password</mat-label>
      <input
        matInput
        [(ngModel)]="password"
        name="password"
        (focus)="resetValidation()"
        type="password"
        placeholder="Enter your password"
        required
        #passwordRef="ngModel"
      />
    </mat-form-field>

    <mat-error *ngIf="errorLogin" class="error-message">
      Invalid username or password.
    </mat-error>

    <button mat-raised-button color="primary" type="submit" class="submit-button">
      Login
    </button>
  </form>
</div>
